<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile Listing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="main.css" rel="stylesheet">
</head>

<body class="details-body">
	<h1 class="profile-page-headline">Profile Details</h1>





	<div class="wrapper">
		{{#userListing}}
		<div class="picAndInfo">
			<img class="single-profile-pic" src={{avatar}}>
			<h2>{{name}}</h2>

		</div>
	</div>	
	
	{{/userListing}}
	</div>

</body>

</html>

