<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile Listing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="main.css" rel="stylesheet">
</head>

<body class="details-body">
	<h1 class="page-headline">Profile Details</h1>
	<div class="wrapper">
		{{#userListing}}
		<div class="-single-profile">
			<img class="single-profile-pic" src={{avatar}}>
			<h3>{{name}}</h3>
			
			</p><p class="job">
				{{#job}} {{job}}, {{company}} {{/job}} {{^job}}
				<h4 class="jobless"> Available for hire. </h4> {{/job}}
		</div>
		{{/userListing}}
	</div>

</body>

</html>