<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile Listing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="main.css" rel="stylesheet">
</head>

<body class="details-body">
	<h1 class="profile-page-headline">Profile Details</h1>





	<div class="wrapper">
		{{#userListing}}
		
		<div class="info-container">		
			<div class="pic-wrapper">
				<img class="single-profile-pic" src={{avatar}}>
			</div>
			<div class="info-wrapper">
				<h2 class="name-detail">{{name}}</h2>
				<h4 class="location">
					{{#address.city}} {{address.city}}, {{/address.city}} {{^address.city}} {{/address.city}} {{address.country}} | 
					{{#job}} {{job}}, {{company}} {{/job}} {{^job}} <span class="availability">Available for hire.</span> {{/job}}
				</h4>
				<h4 class="contact-info">{{email}} | {{phone}}</h4>
			</div>
		</div>
		
		<div class="info-container">
			<div class="left-bottom-wrapper">
				{{#university}} <h4>Education</h4> {{/university}} {{^university}} {{/university}}
				<h4>Skills</h4>
			</div>
			<div class="right-bottom-wrapper">
				<h4>{{university}}</h4>
				<ul>
					{{#skills}}
						<li><span class="skillset">{{.}}</span></li>
					{{/skills}}
				</ul>
				
			</div>
		</div>
	
	{{/userListing}}
	</div>	

	
	
	
	
	
	
</body>

</html>

