<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile Listing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="main.css" rel="stylesheet">
</head>

<body>
	<div class="containerBox">
		{{#userListing}}
		<div class="profilePic">
			<img src={{avatar}}>
		</div>
		<h3>{{name}}</h3>
		<p class="job">
			{{#job}} {{job}} {{company}} {{/job}} {{^job}} Available for hire. {{/job}}
		</p>
		{{/userListing}}




	</div>
</body>

</html>