<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile Listing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="main.css" rel="stylesheet">
</head>

<body class="main-body">

	<h1 class="page-headline">User directory</h1>
	<!--<h3 class="employment-status"><a href="/employed">Currently Employed</a><a href="/seekingemployment">Looking for Work</a>-->

	<div class="singleProfileContainer">
		{{#userListing}}
		<a href=./{{_id}}>
			<div class="profile">
				<img src={{avatar}}>
				<h3 class="memberName">{{name}}</h3>
				<p class="job">
					{{#job}} {{job}}, {{company}} {{/job}} {{^job}}
					<h4 class="jobless"> Available for hire! </h4> {{/job}}
				</p>
			</div>
		</a>
		{{/userListing}}
	</div>

</body>

</html>