body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.singleProfileContainer {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  border: 1px solid gray;
  border-radius: 2px;
  height: 275px;
  width: 180px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #347dcb;
}

.job {
  color: #94797a;
}

.jobless {
  color: #d1728a;
}
