.main-body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.page-headline {
  justify-content: center;
  text-align: center;
  font-size: 5rem;
  margin: 2rem 0rem -2rem 0rem;
  color: #347dcb;
}

.singleProfileContainer {
  display: flex;
  margin: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

.profile {
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px 1px grey;
  border-radius: 2px;
  height: 265px;
  width: 180px;
  margin: 7px;
  padding: 5px;
  text-align: center;
  color: #347dcb;
}

.job {
  color: #94797a;
  text-decoration: none;
}

.jobless {
  color: #d1728a;
}

/*---Details page below:---*/

.details-body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.profile-page-headline {
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  margin: 2rem 0rem -1rem 0rem;
  color: #347dcb;
}

.info-container {
  /* container for pic and name/info */
  display: flex;
  flex-direction: row;
  height: 175px;
  padding: 5px;
  color: #84857f;
}

.pic-wrapper {
  flex: 1;
}

.info-wrapper {
  flex: 3;
  padding: 0rem 1rem;
  color: #84857f;
}

.name-detail {
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
  font-weight: 100;
  color: black;
}

.wrapper {
  display: flex;
  margin: 4rem 24rem;
  flex-direction: column;
  justify-content: center;
}

.single-profile-pic {
  border: 1px solid lightgrey;
  height: 175px;
  border-radius: 150px;
  float: left;
}

.left-bottom-wrapper {
  flex: 1;
  text-align: right;
}

.right-bottom-wrapper {
  flex: 3;
  padding: 0rem 0rem 0rem 2.5rem;
}

.availability {
  color: #e3a680;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skillset {
  color: #84857f;
}
